In [77]:
import numpy as np
import pandas as pd 
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor
%matplotlib inline

In [78]:
for p in [np, pd, sklearn, sns]:
    print (p.__name__, p.__version__)

numpy 1.14.3
pandas 0.23.0
sklearn 0.19.1
seaborn 0.8.1

In [79]:
def downcast_dtypes(df):    
    # Select columns to downcast
    float_cols = [c for c in df if df[c].dtype == "float64"]
    int_cols =   [c for c in df if df[c].dtype == "int64"]
    
    # Downcast
    df[float_cols] = df[float_cols].astype(np.float32)
    df[int_cols]   = df[int_cols].astype(np.int32)
    
    return df

In [80]:
sales = pd.read_csv('Data/sales_train.csv')
shops = pd.read_csv('Data/shops.csv')
items = pd.read_csv('Data/items.csv')
item_cats = pd.read_csv('Data/item_categories.csv')
test = pd.read_csv('Data/test.csv')

In [81]:
sales.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [82]:
shops.head()

                        shop_name  shop_id
0   !Якутск Орджоникидзе, 56 фран        0
1   !Якутск ТЦ "Центральный" фран        1
2                Адыгея ТЦ "Мега"        2
3  Балашиха ТРК "Октябрь-Киномир"        3
4        Волжский ТЦ "Волга Молл"        4

In [83]:
items.head()

,item_name,item_id,item_category_id
0,! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.) D,0,40
1,!ABBYY FineReader 12 Professional Edition Full...,1,76
2,***В ЛУЧАХ СЛАВЫ (UNV) D,2,40
3,***ГОЛУБАЯ ВОЛНА (Univ) D,3,40
4,***КОРОБКА (СТЕКЛО) D,4,40

In [84]:
item_cats.head()

        item_category_name  item_category_id
0  PC - Гарнитуры/Наушники                 0
1         Аксессуары - PS2                 1
2         Аксессуары - PS3                 2
3         Аксессуары - PS4                 3
4         Аксессуары - PSP                 4

In [86]:
sales_in_month = sales.groupby(['date_block_num','shop_id','item_id']).agg({'item_cnt_day': 'sum','item_price': np.mean}).reset_index()
sales_by_item_id_for_last_val = sales_in_month.groupby('item_id').last()
def fill_price(item_id):
    if item_id in sales_by_item_id_for_last_val.index:
        return sales_by_item_id_for_last_val.loc[item_id]['item_price']
    else:
        return sales_by_item_id_for_last_val['item_price'].median()
test_data['date_block_num'] = 34
test_data['item_price'] = test_data['item_id'].apply(fill_price)
test_data['item_cnt_day'] = 0

In [ ]:
test.head()

In [ ]:
test_data.head()

In [ ]:
plt.figure(figsize=(10,4))
plt.xlim(-100, 3000)
sns.boxplot(x=sales.item_cnt_day)

plt.figure(figsize=(10,4))
plt.xlim(sales.item_price.min(), sales.item_price.max()*1.1)
sns.boxplot(x=sales.item_price)

In [ ]:
sales = sales[sales.item_price<100000]
sales = sales[sales.item_cnt_day<1001]

In [ ]:
sales.loc[sales.shop_id == 0, "shop_id"] = 57
test.loc[test.shop_id == 0 , "shop_id"] = 57
sales.loc[sales.shop_id == 1, "shop_id"] = 58
test.loc[test.shop_id == 1 , "shop_id"] = 58
sales.loc[sales.shop_id == 11, "shop_id"] = 10
test.loc[test.shop_id == 11, "shop_id"] = 10
sales.loc[sales.shop_id == 40, "shop_id"] = 39
test.loc[test.shop_id == 40, "shop_id"] = 39

In [ ]:
train = sales.join(items, on='item_id', rsuffix='_').join(shops, on='shop_id', rsuffix='_').join(item_cats, on='item_category_id', rsuffix='_').drop(['item_id_', 'shop_id_', 'item_category_id_'], axis=1)

In [ ]:
train.head(10)

In [ ]:
train['revenue'] = train['item_price'] *  train['item_cnt_day']

In [ ]:
train.head(10)

In [ ]:
train = train.query('item_price > 0')

In [ ]:
train_monthly = train[['date', 'date_block_num', 'shop_id', 'item_category_id', 'item_id', 'item_price', 'item_cnt_day']]

In [ ]:
train_monthly.head()

In [ ]:
# Group by month in this case "date_block_num" and aggregate features.
train_monthly = train_monthly.sort_values('date').groupby(['date_block_num', 'shop_id', 'item_category_id', 'item_id'], as_index=False)
train_monthly = train_monthly.agg({'item_price':['sum', 'mean'], 'item_cnt_day':['sum', 'mean','count']})
train_monthly.columns = ['date_block_num', 'shop_id', 'item_category_id', 'item_id', 'item_price', 'mean_item_price', 'item_cnt', 'mean_item_cnt', 'transactions']

In [ ]:
train_monthly.head()

In [ ]:
train_monthly['year'] = train_monthly['date_block_num'].apply(lambda x: ((x//12) + 2013))
train_monthly['month'] = train_monthly['date_block_num'].apply(lambda x: (x % 12))

In [ ]:
train_monthly.head()

In [ ]:
train_monthly['month'].max()

In [ ]:
monthly2013_mean=train_monthly[train_monthly.year <= 2013][['shop_id','item_id','transactions','month']].sort_values(['month','item_id', 'shop_id'])
monthly2014_mean=train_monthly[train_monthly.year < 2014][['shop_id','item_id','transactions','month']].sort_values(['month','item_id', 'shop_id'])
monthly2015_mean=train_monthly[train_monthly.year < 2015][['shop_id','item_id','transactions','month']].sort_values(['month','item_id', 'shop_id'])

In [ ]:
monthly2013_mean = monthly2013_mean.groupby(['month','item_id', 'shop_id']).mean().reset_index()
monthly2014_mean = monthly2014_mean.groupby(['month','item_id', 'shop_id']).mean().reset_index()
monthly2015_mean = monthly2015_mean.groupby(['month','item_id', 'shop_id']).mean().reset_index()

In [ ]:
monthly2015_mean.head()

In [ ]:
monthly2013_mean['year']=2013
monthly2014_mean['year']=2014
monthly2015_mean['year']=2015

In [ ]:
monthly2015_mean.head()

In [ ]:
mean_values = monthly2013_mean

In [ ]:
mean_values = mean_values.append(monthly2014_mean)
mean_values = mean_values.append(monthly2015_mean)

In [ ]:
mean_values['year'].unique()

In [ ]:
mean_values.columns = ['month','item_id','shop_id','mean_tran','year']
mean_values.info()

In [ ]:
train_monthly.info()

In [ ]:
train_monthly.merge(mean_values, on=['month','year','shop_id','item_id'])